<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Games</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<script src='javascripts/jquery.js'></script>
	<script src='javascripts/scripts.js'></script>
</head>
<body>
	<h1>GAMES</h1>

	<% if session[:current_user] %>
		<form action="/sessions" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="SIGN OUT">
		</form>
		<form action="/profiles">
			<input type="submit" value="Profile">
		</form>

		<div class="games">
			<p>PICK A GAME</p>
			<a href="/hangman">Hangman</a>
			<a href="/tictactoe">Tic-Tac-Toe</a>
		</div>
	<% else %>
		<ul>
			<li><a href="/users/new">JOIN</a></li>
			<li><a href="/sessions/new">LOG IN</a></li>
		</ul>
	<% end %>




	<%= yield %>
</body>
</html>