body {
	background-color: lightgrey;
	font-family: Century;
}

.avatar {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

.games {
	width: 170px;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	padding: 30px;
}

#random-word {
	vertical-align: middle;
	position: absolute;
}

.guesses {
	width: 200px;
	height: 350px;
	background-color: white;
	right: 0;
	top: 0;
	position: fixed;
	border: 1px #888888;
	border-radius: 25px;
	margin-right: 40px;
	margin-top: 100px;
}

.guesses-style {
	border: 1px solid brown;
	padding: 4px;
}