body {
	background-color: #B3C7CC;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ffffff;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3em;
	font-weight: 300;
}

h3 {
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 14px;
}

.login-wrapper {
  text-align: center;
}

.newuser-wrapper {
  text-align: center;
}

.profiles {
  text-align: center;
}

table {
  margin: 0 auto;
}

div.myButton input {
  cursor:pointer;
  width: 80px;
  height: 35px;
  border: none;
}

.scoreboard {
  padding: 30px;
}

.avatar {
	height: 300px;
	width: 300px;
	border-radius: 150px;
  border: 5px solid white;
}

.games {
	width: 170px;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	padding: 30px;
}

.letter-button-container {
  padding-bottom: 30px;
}

.center {
	text-align: center;
}

#tomjerry-gif img {
  border: 5px solid white;
}

.tomjerry-join img {
  border: 5px solid white;
  height: 250px;
  width: 250px;
}

.tomjerry-signin img {
  border: 5px solid white;
  height: 250px;
  width: 250px;
}

#random-word {
	margin: 30px 0;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
}

.guesses {
	width: 180px;
	height: 180px;
	background-color: #D1DDE0;
	right: 0;
	top: 0;
	position: fixed;
	border: 1px #888888;
	margin-right: 40px;
	margin-top: 100px;
}

.new-game {
   border-top: 1px solid #969FA1;
   background: #969FA1;
   background: -webkit-gradient(linear, left top, left bottom, from(#969FA1), to(#969FA1));
   background: -webkit-linear-gradient(top, #969FA1, #969FA1);
   background: -moz-linear-gradient(top, #969FA1, #969FA1);
   background: -ms-linear-gradient(top, #969FA1, #969FA1);
   background: -o-linear-gradient(top, #969FA1, #969FA1);
   padding: 3px 6px;
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 12px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }

.new-game:hover {
   border-top-color: #bdbcb2;
   background: #bdbcb2;
   color: #000000;
   }

.new-game:active {
   border-top-color: #968aa1;
   background: #968aa1;
   }

.alphabet-letter {
   border-top: 1px solid #969FA1;
   background: #969FA1;
   background: -webkit-gradient(linear, left top, left bottom, from(#969FA1), to(#969FA1));
   background: -webkit-linear-gradient(top, #969FA1, #969FA1);
   background: -moz-linear-gradient(top, #969FA1, #969FA1);
   background: -ms-linear-gradient(top, #969FA1, #969FA1);
   background: -o-linear-gradient(top, #969FA1, #969FA1);
   padding: 3px 6px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 9px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.alphabet-letter:hover {
   border-top-color: #bdbcb2;
   background: #bdbcb2;
   color: #000000;
   }
.alphabet-letter:active {
   border-top-color: #968aa1;
   background: #968aa1;
   }

#cssmenu form {
	display: inline-block;
}

#cssmenu input {
	background: none;
	color: white;
	border: none;
	color: grey;
	text-decoration: none;
	display: block;
	padding: 15px 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-ms-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

#cssmenu input:hover {
  color: #333333;
  zoom: 1;
}
#cssmenu input:hover:before {
  width: 100%;
}

#cssmenu {
  background: #ffffff;
  width: auto;
}

#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}

#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#cssmenu.align-right ul li {
  float: right;
}

#cssmenu.align-center ul {
  text-align: center;
}

#cssmenu ul li a {
  color: grey;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

#cssmenu ul li a:hover {
  color: #333333;
}

#cssmenu ul li a:hover:before {
  width: 100%;
}

#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}

#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}

#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}

#cssmenu ul li.active a:before {
  width: 100%;
}

#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}

#cssmenu.align-right li:first-child a:after {
  display: none;
}

@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #ffffff;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}