<link rel="stylesheet" href="stylesheets/styles.css">
<center>
<h2>SIGN IN</h2>

<form action="/sessions" method="post">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<input type="submit">
</form>
</center>