<link rel="stylesheet" href="stylesheets/styles.css">
<center>
	<h2>LOG IN</h2>

	<div class="tomjerry-signin">
		<img src="http://www.somegif.com/gifs/1359831800767872863.GIF">
	</div>

	<form action="/sessions" method="post">
		<p>
			USERNAME:
			<input type="text" name="username" placeholder="Username">
		</p>
		<p>
			PASSWORD:
			<input type="password" name="password" placeholder="Password">
		</p>
		<div class="myButton">
			<input type="submit">
		</div>	
	</form>
</center>