<center>
<h2>SIGN UP TO PLAY</h2>

<form action="/users" method="post">
	<input type="text" name="user[username]" placeholder="Username">
	<input type="text" name="user[avatar]" placeholder="Avatar URL">
	<input type="password" name="password" placeholder="Password">
	<input type="submit">
</form>
</center>