<h2>Hangman</h2>
<div class="letters">

<center>
<input type="submit" value="NEW WORD" class="new-game">
<br>
<br>
<button class="alphabet-letter">A</button>
<button class="alphabet-letter">B</button>
<button class="alphabet-letter">C</button>
<button class="alphabet-letter">D</button>
<button class="alphabet-letter">E</button>
<button class="alphabet-letter">F</button>
<button class="alphabet-letter">G</button>
<button class="alphabet-letter">H</button>
<button class="alphabet-letter">I</button>
<button class="alphabet-letter">J</button>
<button class="alphabet-letter">K</button>
<button class="alphabet-letter">L</button>
<button class="alphabet-letter">M</button>
<br>
<button class="alphabet-letter">N</button>
<button class="alphabet-letter">O</button>
<button class="alphabet-letter">P</button>
<button class="alphabet-letter">Q</button>
<button class="alphabet-letter">R</button>
<button class="alphabet-letter">S</button>
<button class="alphabet-letter">T</button>
<button class="alphabet-letter">U</button>
<button class="alphabet-letter">V</button>
<button class="alphabet-letter">W</button>
<button class="alphabet-letter">X</button>
<button class="alphabet-letter">Y</button>
<button class="alphabet-letter">Z</button>
<br>
<br>



<div class="guesses">
	<h3>GUESSES</h3>
	<p>
		<span class="guesses-style">Good</span>
		<div class="good-guesses"></div>
	</p>
	<p>
		<span class="guesses-style">Bad</span>
		<div class="bad-guesses"></div>
	</p>
</div>



</center>

<div id="random-word">
</div>

<script>
$(function(){
	
	$('.new-game').on("click", function(e){
		e.preventDefault();
		$('#random-word').empty();
		$('.good-guesses').empty();		// doesn't get rid of it completely...
		$('.bad-guesses').empty();		// doesn't get rid of it completely...

		randomWord();
	});



// ****************** TROUBLE *********************

	// $('.new-game').on("click", function(e){
	// 	e.preventDefault();
	// 	$('.good-guesses').empty();
	// 	$('.bad-guesses').empty();
	// 	randomWord();
	// });

// ****************** TROUBLE *********************
	
	$('.alphabet-letter').on("click", function(e){
		e.preventDefault();
		var guessed_letter = $(this).text().toLowerCase();
		// displayLetter(guessed_letter);  LETS MAKE AN AJAX CALL INSTEAD
		guessLetter(guessed_letter);
	})


$('.good-guesses').on("click", function(e){
	e.preventDefault();
	var goodLetter = $(this)
})


function updateGoodGuessesBox(letter){
	var goodLetterDiv = $('<div>').addClass('good-guess').text(letter);
	$('.good-guesses').append(letterDiv);
}





});
</script>









