<h2>Hangman</h2>
<div class="letters">

<center>
<input type="submit" value="NEW WORD" class="new-game">
<br>
<br>
<input type="submit" value = "A" class="alphabet-letter">
<input type="submit" value = "B" class="alphabet-letter">
<input type="submit" value = "C" class="alphabet-letter">
<input type="submit" value = "D" class="alphabet-letter">
<input type="submit" value = "E" class="alphabet-letter">
<input type="submit" value = "F" class="alphabet-letter">
<input type="submit" value = "G" class="alphabet-letter">
<input type="submit" value = "H" class="alphabet-letter">
<input type="submit" value = "I" class="alphabet-letter">
<input type="submit" value = "J" class="alphabet-letter">
<input type="submit" value = "K" class="alphabet-letter">
<input type="submit" value = "L" class="alphabet-letter">
<input type="submit" value = "M" class="alphabet-letter">
<br>
<input type="submit" value = "N" class="alphabet-letter">
<input type="submit" value = "O" class="alphabet-letter">
<input type="submit" value = "P" class="alphabet-letter">
<input type="submit" value = "Q" class="alphabet-letter">
<input type="submit" value = "R" class="alphabet-letter">
<input type="submit" value = "S" class="alphabet-letter">
<input type="submit" value = "T" class="alphabet-letter">
<input type="submit" value = "U" class="alphabet-letter">
<input type="submit" value = "V" class="alphabet-letter">
<input type="submit" value = "W" class="alphabet-letter">
<input type="submit" value = "X" class="alphabet-letter">
<input type="submit" value = "Y" class="alphabet-letter">
<input type="submit" value = "Z" class="alphabet-letter">
<br>
<br>
</center>

<div id="random-word">
</div>